@model YB_StaffingSupervisor.DataAccess.Entities.UserProfileModel
@{
    ViewData["Title"] = "My Profile";
    Layout = "~/Views/Shared/_ProantoV2MasterLayout.cshtml";
}

<style type="text/css">
    .left-sidebar {
        box-shadow: 3px 0px 5px #4783c71b;
    }

    .profile-pic-detail {
        max-width: 200px;
        max-height: 200px;
        display: block;
    }

    .basic-info hr {
        background-color: rgb(255 176 116);
        width: 80px;
        height: 2px;
        border-radius: 5px;
        border: 0;
    }

    .security-section hr {
        background-color: rgb(255 176 116);
        width: 45px;
        height: 2px;
        border-radius: 5px;
        border: 0;
    }

    .profile-name {
        font-weight: 500;
        font-size: 16px;
    }

    .circle {
        border-radius: 50%;
        overflow: hidden;
        width: 125px;
        height: 125px;
        border: 5px solid #2a69b282;
        position: relative;
        bottom: 65px;
        margin: auto;
    }

    .profile-pic-card {
        border: 0;
        box-shadow: 0px 3px 7px #3e89de54;
        border-radius: 8px !important;
        border: 1px solid #2a69b24b;
        overflow: hidden;
    }

        .profile-pic-card .card-header {
            height: 125px;
            background-size: cover;
            background-position: center;
            background-image: url(../../images/profile-bg.jpg);
            cursor: default;
            opacity: .4;
        }

    .profile-detail-card {
        border: 0;
        box-shadow: 0px 2px 7px #3a7fce34;
        border-radius: 8px !important;
        border: 1px solid #2a69b24b;
        overflow: hidden;
    }

    .user-details {
        position: relative;
        bottom: 30px;
    }

    .p-image {
        color: #ffffff;
        transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
        text-align: center;
        cursor: pointer;
        background: #2a69b2;
        padding: 5px;
        font-size: 11px;
        outline: 3px solid #195fae4f;
        line-height: normal;
        border-radius: 12px !important;
        width: 100%;
        
    }

        .p-image:hover {
            transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
        }

    .avatar-pic {
        outline: 3px solid #195eae30;
        border-radius: 100px;
        opacity: .9;
        cursor: pointer;
    }

        .avatar-pic:hover {
            opacity: 1;
            filter: brightness(90%);
        }

        .avatar-pic:active {
            outline: 0;
        }

    .form-control:focus {
        box-shadow: none;
        border: 1px solid #2a69b26e;
    }

    .change-pass-card {
        /* box-shadow: 0px 2px 6px #448bdb44; */
        border-radius: 3px;
        border: 1px solid rgb(228, 228, 228);
        margin-top: 8px;
    }

        .change-pass-card .card-body {
            padding-top: 5px !important;
            padding-bottom: 5px !important;
        }
</style>

<div class="page-breadcrumb">
    <div class="row my-2">
        <div class="col-5 col-md-5 align-self-center">
            <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">@Model.FullName</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item">
                            <a class="text-muted">
                                Manage Account / <b>My Detail</b>
                            </a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-7 col-md-7">
        </div>
    </div>
</div>

<div class="container-fluid" style="background: #F8F8F8; padding: 22px;">

    <div class="card no-border-radius">
        <div class="card-body">
            <h5 class="page-title text-truncate font-weight-medium form-title">My Detail</h5>
            <hr class="title-divider">

            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card profile-pic-card mb-3 h-100">
                        <div class="card-header border-0"></div>
                        <div class="card-body p-0 d-flex flex-column justify-content-center align-items-center">
                            <div class="small-12 medium-2 large-2 columns text-center d-block  m-auto position-relative">
                                <div class="circle">
                                    @if (!string.IsNullOrEmpty(Model.ProfileImage))
                                    {
                                        <img id="profileImage" class="profile-pic-detail" src="@Model.ProfileImage" style="width: 100%;">
                                    }
                                    else
                                    {
                                        <img id="profileImage" class="profile-pic-detail" src="/Proantov2assets/images/profile_noimage.png" style="width: 100%;">
                                    }
                                </div>
                                <div class="user-details">
                                    <h5 class="text-center mb-0 profile-name">@Model.FullName</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer border-0" style="background-color: aliceblue;">
                            <!-- <h6 style="color: #2a69b2;"><b>Change Profie Picture</b></h6> -->
                            <div class="user-icons row">
                                <div class="col-2 col-sm-2 col-md-2 col-lg-2 m-2">
                                    <img class="avatar-pic" src="/Proantov2assets/images/user-icons/man.png" imgpath="Proantov2assets/images/user-icons/man.png" width="35px" onclick="ChangeProfileImage('Proantov2assets/images/user-icons/man.png')" alt="">
                                </div>
                                <div class="col-2 col-sm-2 col-md-2 col-lg-2 m-2">
                                    <img class="avatar-pic" src="/Proantov2assets/images/user-icons/woman.png" imgpath="Proantov2assets/images/user-icons/woman.png" width="35px" onclick="ChangeProfileImage('Proantov2assets/images/user-icons/woman.png')" alt="">
                                </div>
                                <div class="col-2 col-sm-2 col-md-2 col-lg-2 m-2">
                                    <img class="avatar-pic" src="/Proantov2assets/images/user-icons/boy.png" imgpath="Proantov2assets/images/user-icons/boy.png" width="35px" onclick="ChangeProfileImage('Proantov2assets/images/user-icons/boy.png')" alt="">
                                </div>
                                <div class="col-2 col-sm-2 col-md-2 col-lg-2 m-2">
                                    <img class="avatar-pic" src="/Proantov2assets/images/user-icons/girl.png" imgpath="Proantov2assets/images/user-icons/girl.png" width="35px" onclick="ChangeProfileImage('Proantov2assets/images/user-icons/girl.png')" alt="">
                                </div>
                                <div class="col-2 col-sm-2 col-md-2 col-lg-2 m-2">
                                    <img class="avatar-pic" src="/Proantov2assets/images/user-icons/older.png" imgpath="Proantov2assets/images/user-icons/older.png" width="35px" onclick="ChangeProfileImage('Proantov2assets/images/user-icons/older.png')" alt="">
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-3">
                                    <div class="p-image" title="Change Profile Picture">
                                        
                                        <input id="uploadProfileImageFile" class="uploadProfileImageFile" type="file" accept=".jpg, .jpeg, .png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-8 mb-3">
                    <div class="card profile-detail-card h-100">
                        <div class="card-body mt-1 pb-0">

                            <div class="basic-info">

                                <h5 style="color: #2a69b2; font-weight: 500;" class="mb-0">
                                    Basic Information
                                </h5>
                                <hr class="ml-0 mt-2">

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputText"><b>Username</b></label>
                                        <input type="text" asp-for="UserName" class="form-control form-control-sm bg-light border-0" id="username" disabled>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputText1"><b>Full Name</b></label>
                                        <input type="text" asp-for="FullName" class="form-control form-control-sm bg-light border-0" disabled>
                                    </div>



                                    <div class="form-group col-md-4">
                                        <label for="inputText2"><b>Email Id</b></label>
                                        <input type="text" asp-for="EmailId" class="form-control form-control-sm bg-light border-0" disabled>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputText3"><b>Mobile Number</b></label>
                                        <input type="text" asp-for="MobileNumber" class="form-control form-control-sm bg-light border-0" disabled>
                                    </div>

                                </div>

                            </div><br>

                            <div class="security-section">
                                <h5 style="color: #2a69b2; font-weight: 500;" class="mb-0">Security</h5>
                                <hr class="ml-0 mt-2">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 col-sm-12">
                                        <div class="card change-pass-card shadow-none">
                                            <div class="card-body px-3 py-3">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <b class="mb-0">Change your Password</b>
                                                    <button data-toggle="modal" data-target="#changePasswordModal"
                                                            type="button" class="btn btn-primary btn-sm"
                                                            style="border-radius: 3px;">
                                                        Click
                                                        Here
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div style="background-color: aliceblue;" class="card-footer py-1 border-0">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-actions">
                                        <div class="d-flex justify-content-end">
                                            @*  <button type="button"
                                            class="btn btn-sm btn-secondary mr-2 my-1">
                                            Cancel
                                            </button>
                                            <button type="button"
                                            class="btn btn-sm btn-primary my-1">
                                            Save
                                            </button> *@
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="changePasswordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content overflow-hidden" style="border-radius: 7px;">
            <div class="modal-header py-2">
                <h5 class="modal-title" id="exampleModalLongTitle">Change Password</h5>
                <button type="button" class="bg-white border-0" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="position-relative">
                        <div class="password-body" style="display: block;">
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="">New Password</label>
                                </div>
                                <div class="col-8">
                                    <div class="input-group">
                                        <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="Enter New Password" autocomplete="off" required>
                                        <div class="input-group-append" style="cursor: pointer;" onclick="togglePassword('newPassword')">
                                            <span class="input-group-text bg-white" id="basic-addon2">
                                                <i class="fa fa-eye"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <span id="newPassword-Error" class="text-danger newPassword-Error"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="">Confirm Password</label>
                                </div>
                                <div class="col-8">
                                    <div class="input-group">
                                        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm New Password" autocomplete="off" required>
                                        <div class="input-group-append" style="cursor: pointer;" onclick="togglePassword('confirmPassword')">
                                            <span class="input-group-text bg-white" id="basic-addon2">
                                                <i class="fa fa-eye"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <span id="confirmPassword-Error" class="text-danger confirmPassword-Error"></span>
                                </div>
                            </div>

                        </div>
                        <div class="mt-3 password-body-footer" style="display: block;">
                            <div class="d-flex justify-content-center align-items-center">
                                <button type="button" class="btn btn-primary" onclick="ChangePassword();">Change Password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {

            toastr.success('My Profile');

           

        });

    </script>
    <script src="~/js/Areas/Profile/MyProfile.js" asp-append-version="true"></script>
}