@* @model YB_StaffingSupervisor.DataAccess.Entities.Custom.TeamMemberCustom *@
@{
	ViewData["Title"] = "My Profile";
	Layout = "~/Views/Shared/_ProantoV2MasterLayout.cshtml";
}
<div class="col-md-12">
	<div class="card">
		<div class="card-body">
<p>hgshghjs</p>
		</div>
	</div>
</div>