<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Supervisor @ViewData["Title"]</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/ProantoV2assets/images/logo2.png">
    <link href="~/Proantov2assets/css/style.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/Proantov2assets/css/toastr.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/Proantov2assets/css/Proantov2Login.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/Default/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Default/css/responsive.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Default/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Default/css/slider.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Default/css/slider-theme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Default/fontawesom/css/all.min.css" asp-append-version="true" />

</head>
<body>
    <div class="main-wrapper">
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        @RenderBody()
        @*<partial name="_CookieConsentPartial" />*@
    </div>
    <script src="~/Proantov2assets/libs/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/Proantov2assets/libs/popper.js/dist/umd/popper.min.js" asp-append-version="true"></script>
    <script src="~/Proantov2assets/libs/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/Proantov2assets/js/toastr.js" asp-append-version="true"></script>


    <script type="text/javascript" src="~/Default/js/bootstrap.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/Default/js/jQuery.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/Default/js/slider.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/Default/fontawesom/js/all.min.js" asp-append-version="true"></script>

    <script>$(".preloader ").fadeOut();</script>
    @*<script src="~/js/jquery.js" asp-append-version="true"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>
