.run {
    width: 180px;
}

.last {
    margin-bottom: 10px;
    width: 200px;
}

.frm {
    padding: 5.5px !important;
}

.stu {
    width: 120px;
}

.floating-label {
    position: relative;
    margin-bottom: 20px;
}
/*option
{
border-width: 1px;
border-style: solid;
border-color: #000;
}*/

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

/*.inputfile-1 + label {
color: #f1e5e6;
background-color: #f29751;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
background-color: #ffbb86;
} */

.page_nav ul li a.active, .page_nav ul li a:hover {
    color: #fff;
    background: #ed741a;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#tabs {
    background: #007b5e;
    color: #eee;
}

h6.section-title {
    color: #eee;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #2a69b2;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 14px;
    font-weight: bold;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #2a69b2;
    font-size: 14px;
}

.nextt {
    padding: 6px 0px;
    width: 168px;
}

.orr {
    margin: 0px;
    text-align: center;
    width: 168px;
}


#edate, #mdate, #mdate3, #mdate4, #edate5, #mdate6, #edate6, #edate7 {
    margin-top: 6px;
    padding: 5px;
    border-radius: 0px;
}

#heading, #heading1, #heading2, #heading3, #heading4, #heading5, #heading6, #heading7, #heading8 {
    position: absolute;
    top: -25px;
    left: 11px;
    color: #2a69b2;
}

.iconh {
    position: relative !important;
    top: 6px !important;
}

#hwllo {
    top: -25px;
    position: absolute;
    left: 0px;
    color: #2a69b2;
}

.floating-select {
    padding-bottom: 0px !important;
    height: 35px !important;
}

.tabss {
    padding-top: 33px;
}

.tabss2 {
    padding-top: 6px;
}

.datefun {
    padding-bottom: 16px;
    margin-top: 33px;
}


.floating-label {
    position: relative;
    margin-bottom: 20px;
}
/*option
{
border-width: 1px;
border-style: solid;
border-color: #000;
}*/
.floating-input, .floating-select {
    font-size: 14px;
    display: block;
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9b9fac;
}

    .floating-input:focus, .floating-select:focus {
        outline: none;
    }

.floating-select {
    top: -25px;
    /*font-weight: 500;*/
    font-size: 14px;
    color: #6e6b6a;
}

label {
    color: #3E5569;
    font-size: 14px;
    font-weight: 500;
    /*pointer-events:none;*/
    left: 5px;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/*.simpletext{
	top: 35px;
}*/

.tablebasic {
    /* border-radius: 9px;*/
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.btn-g {
    width: 100%;
    background: green;
    pointer-events: none;
}

.btn-r {
    background: red;
}

.btn-o {
    width: 100%;
    background: orange;
    pointer-events: none;
}

.upload_doc {
    font-size: 14px;
    font-weight: 500;
    color: #2a69b2;
}

#removerow {
    cursor: pointer;
    padding: 4px 9.2px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #2a69b2;
    border-color: #ed731a;
}

#sumit {
    background: #2a69b2;
    color: white;
}

button:focus {
    outline: 0;
}

th {
    text-align: center;
    vertical-align: middle;
}

.ct {
    text-align: center;
}

.iconre {
    font-size: 32px;
}

.textre {
    font-size: 15px;
    font-weight: 400;
}

.textrecl {
    color: #3e5569 !important;
}

.space {
    padding-bottom: 500px !important;
}

.bacver {
    justify-content: center;
}

.switch {
    top: -5px;
    left: -2px;
}

.off {
    margin-right: 7px;
    font-weight: 500;
}

.hai {
    color: #989795;
    text-align: justify;
}

.hai2 {
    box-shadow: 0 1px 4px 0 rgba(132, 130, 130, 0.55);
    margin-top: 14px;
}

#linkButton {
    margin-bottom: 17px !important;
}

#linkButton2 {
    margin: 10px 0px 10px 0px !important;
}

.run {
    width: 100% !important;
}

.tdone {
    padding: 5.5px;
}
/* #hell{
 	padding: 0px !important;
 }*/
.tdtwo {
    padding: 11.5px !important;
}

.reportt {
    width: 100%;
    color: white;
    padding: 10px;
    font-size: 12px;
    background-color: #2a69b2;
}

.reportimg {
    height: 125px;
    width: 110px;
}

.tyota {
    line-height: 2.2;
}

.last {
    margin-bottom: 4px;
}

.cardreport {
    padding: 10px;
}

.widreport {
    width: 120px;
}

#exampleFormControlSelect1 {
    width: 150px;
}


.w-18 {
    width: 17px !important;
}

.floating-label {
    position: relative;
    margin-bottom: 30px;
}
/*option
{
border-width: 1px;
border-style: solid;
border-color: #000;
}*/
/*.floating-input , .floating-select {
font-size:14px;
padding: 0;
display:block;
width:100%;
height:30px;
background-color: transparent;
border:none;
border-bottom:1px solid #9b9fac;
left: 0;
}
.floating-input:focus , .floating-select:focus {
outline:none;

}
.floating-select:focus ~ label , .floating-select:not([value=""]):valid ~ label {
top: -20px;
left: 4px;
font-weight: 500;
font-size: 14px;
/*color: #f29751;*/
}

*/
#hell label {
    pointer-events: none;
}

label {
    color: #999;
    font-size: 14px;
    font-weight: 500;
    left: 5px;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.form-check-input {
    position: relative;
}

.rion {
    background: #6659f7;
    color: white;
    margin: 2px;
}

@media (min-width: 992px) {

    .tttt {
        max-width: 1250px !important;
    }
}

.frt {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
