<title>UI Setup</title>

<h1 style="width: 70%; display: inline-flex; text-align: center;">Hello World From Page 2</span>
    <h1>wf</h1>
    <h1>efv</h1>
    <h1>ttg</h1>
    <h1>erf</h1>
    <h1>wee</h1>
    <h1>dth</h1>
    
    <h1><a href="/">Home</a></h1>