<title>UI Setup</title>

<h1 style="width: 70%; display: inline-flex; text-align: center;">Hello World From Page 2</span>
    <h1>dfd</h1>
    <h1>vdfg</h1>
    <h1>gthb</h1>
    <h1>erf</h1>
    <h1>frr</h1>
    <h1>rrtg</h1>
    
    <h1><a href="/">Home</a></h1>