<title>UI Setup</title>

<h1 style="width: 70%; display: inline-flex; text-align: center;">Hello World From Page</span>
    <h1><a href="/page2">Link 1</a></h1>
    <h1><a href="/page3">Link 2</a></h1>
   
    