<h1 style="text-align: center;">Header From Layout</h1>
<h3 style=" align-items: center; display: inline-flex; flex: 1;">Left Menu From Layout </h3>
<h3 style=" align-items: center; display: inline-flex; flex: 6;">Left Menu From Layout </h3>
<!-- Render Page Here -->
<!-- <%- include(pageContent) %> -->

<h1 style="text-align: center;">Footer From Layout</h1>