@model YB_AssessmentManagement.DataAccess.Entities.LeftMenuModel
<div class="scroll-sidebar">
    <nav class="sidebar-nav">
        <ul id="sidebarnav">
            <li class="nav-small-cap"><span class="hide-menu"></span></li>
            @* @Html.Raw(Model.MenuList) *@
            <li class="sidebar-item">
                <a class="sidebar-link sidebar-link" href="/Dashboard/MyDashboard" aria-expanded="false">
                    <i data-feather="home" class="feather-icon"></i><span class="hide-menu">Dashboard</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/Assessment/Profile/MyProfile" class="sidebar-link">
                    <i data-feather="book-open" class="feather-icon w-18"></i> <span class="hide-menu">
                        My Profile
                    </span>
                </a>
            </li>


            <li class="list-divider"></li>
            <span style="margin-left:15px; " class="font-12">
                Current Version 3.0
            </span>
        </ul>
    </nav>
</div>