.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: none;
    background: #2a69b2;
    color: white;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link .sub-ss.active {
    /* color: #4F5467; */
    background-color: #fff;
    border: none;
    border-bottom: none !important;
}

.nav-tabs {
    border-bottom: 2px solid #2a69b2;
    padding-bottom: 2px;
}

    .nav-tabs .nav-item {
        margin-bottom: -4px;
    }

.nav-link, .navbar {
    padding: 5px 10px;
}

.title-head-payroll {
    color: #2a69b2;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.border-border {
    border-bottom: 2px solid #6659f7;
}

#show, #showr {
    padding: 10px;
}

#show, #showr, #edita, #showf, #showrf, #editf, #showc, #showrc, #editc, #showad, #showrad, #editad {
    display: none;
}

#edita, #editf, #editc, #editad {
    cursor: pointer;
}

#sumit {
    background: #2a69b2;
    color: white;
}

.custom-style {
    border: 1px solid #CCCCCC;
    padding: 5px;
    margin: 10px;
}

.custom-style {
    border: 1px solid #CCCCCC;
    padding: 5px;
    margin: 10px;
}

.year-range {
    background: transparent !important;
    border: none !important;
    border-bottom: 2px solid blue !important;
}

.account_detail {
    background: #f6f6f6;
    width: 62%;
    padding: 17px;
}

.customsel {
    padding: 0px;
    margin-top: -15px;
}

.active_payslip {
    border: none;
    border-left: 4px solid #6659f7;
}

.no-action {
    pointer-events: none !important;
}

.modal-form {
    border: none;
    border-bottom: 1px solid #CCCCCC;
    padding: 0px !important;
}

.mycustommodal {
    background: #6659f7;
    color: white;
    padding: 3px 16px;
}

.cut-btn {
    font-size: 25px;
    cursor: pointer;
}

.total-emp {
    background: transparent;
    color: #6659f7;
    border: 1px solid #d0d0d0;
    border-radius: 20px;
    padding: 9px 43px;
    font-size: 13px;
}

#inputyear {
    border: none !important;
    font-size: 19px !important;
    color: #6659f7 !important;
    padding: 0px !important;
    margin-top: -12px !important;
    background-color: transparent;
}

.financial-year {
    height: 70px;
    border: 1px solid #dddddd;
    background: rgba(0,0,0,.03);
    box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
    width: 67%;
}

.number {
    margin-right: 2px;
    text-align: center;
    border: 2px solid;
    height: 23px;
    width: 23px;
    border-radius: 11px;
    cursor: pointer;
}

.tab-title {
    font-size: 19px;
    font-weight: 500;
    color: #3221ec;
}

.tab-sub-title {
    font-size: 12px;
    color: grey
}

.mytitle {
    font-size: 14px;
    color: #3221ec;
    font-weight: 500;
}

.mytitle2 {
    font-size: 26px;
}

.custom-card {
    background-color: #F7F7F7;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
    border: 1px solid #dddddd;
}

.profile-img {
    text-align: center;
    background: antiquewhite;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 6px -6px black;
}



.left-profile {
    position: absolute;
    top: 46px !important;
}


.mymenu {
    position: absolute;
    top: 90px;
    z-index: 111;
}



.mycustomheader {
    background: #2a69b2;
    height: 125px;
    position: sticky;
}



.active-profile-menu {
    border-bottom: 4px solid #fff;
}

.mybread {
    color: white;
    position: relative;
    top: 25px;
    font-size: 21px !important;
}

.bg-grey {
    background-color: #f7f7f7;
}

.semibold {
    font-size: 12px;
}

/*.border-bottom{
    border: none;
    border-bottom: 1px solid #cccccc;
}*/

.prp, .to, .soh, .va, .sr, .al, .overview {
    cursor: pointer;
}


/*date slider */

.monthWrapper {
    position: relative;
    overflow: hidden;
    margin-right: 20px;
}

    .monthWrapper .month-list {
        white-space: nowrap;
        transition: .5s all;
    }

    .monthWrapper .month {
        display: inline-block;
        padding: 5px 15px;
        font-size: 14px;
        text-align: center;
        background: rgba(0,0,0,.03);
        border: 1px solid #dddddd;
        cursor: pointer;
        margin: 15px 10px;
        transition: .3s all;
        box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
        width: 100px;
    }

        .monthWrapper .month .month-name {
            font-size: 16px;
            font-weight: 600;
        }

        .monthWrapper .month .year-name {
            color: #CCCCCC;
        }

        .monthWrapper .month .month-status {
            font-size: 10px;
        }

        .monthWrapper .month.disabled {
            opacity: 0.5;
        }

        .monthWrapper .month.active {
            background: #2094FF;
            border-color: #2094FF;
            box-shadow: 0 0 10px 1px rgba(32, 148, 255, .7);
        }

        .monthWrapper .month.pending .status-blob {
            background: #ffa500;
        }

        .monthWrapper .month.upcoming .status-blob {
            background: #CCCCCC;
        }

        .monthWrapper .month .status-blob {
            width: 12px;
            height: 12px;
            display: inline-block;
            border: 2px solid #fff;
            border-radius: 50%;
            position: relative;
            top: 2px;
        }

        .monthWrapper .month.active .month-name, .monthWrapper .month.active .year-name, .monthWrapper .month.active .month-status {
            color: #ffffff;
        }

.month-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    color: #2094FF;
    box-shadow: 0 2px 3px 1px #dddddd;
    transition: .3s all;
}

    .month-nav.right {
        right: 8px;
    }

/*---------------------------------------------------------------------------*/
/*multistep form css */
/*---------------------------------------------------------------------------*/

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

    #msform fieldset .form-card {
        background: white;
        border: 0 none;
        border-radius: 0px;
        box-shadow: 0 8px 6px -6px grey;
        padding: 20px;
        box-sizing: border-box;
        width: 72%;
        margin: 0 3% 20px 13%;
        position: relative;
        border: 2px solid #f1f1f1;
    }

    #msform fieldset {
        background: white;
        border: 0 none;
        border-radius: 0.5rem;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
        position: relative
    }

        #msform fieldset:not(:first-of-type) {
            display: none
        }

        #msform fieldset .form-card {
            text-align: left;
            color: #9E9E9E
        }

    /*#msform input,
#msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px
}
*/
    /*#msform input:focus, #msform select:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid blue;
    outline-width: 0
}*/

    #msform .action-button {
        width: 100px;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px
    }

        #msform .action-button:hover,
        #msform .action-button:focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue
        }

    #msform .action-button-previous {
        width: 100px;
        background: #616161;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px
    }

        #msform .action-button-previous:hover,
        #msform .action-button-previous:focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
        }

.sup {
    padding: 0px;
}

.bk-btn {
    background: #cccccc;
    color: #3e5569;
}

@media only screen and (max-width: 600px) {
    #progressbar {
        overflow: hidden;
        color: lightgrey;
        margin: 0px !important;
        display: flex;
        justify-content: center;
    }

    .hth, .sup {
        padding: 0;
    }

    .hthh {
        padding: 14px;
    }

    #msform fieldset .form-card {
        width: 100%;
        margin: 0px !important;
    }

    #sam {
        justify-content: center;
        margin-top: 10px;
    }
}

.mb_view {
    display: none;
}

.title-widget {
    border-left: 3px solid #796ef8;
    padding: 6px;
}

.color-blue {
    color: #796ef8;
}

.img-icon {
    width: 50px;
}

.view-doc {
    color: #2A69B2;
    cursor: pointer;
}
/*responsive media queries*/


/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {

    .mb_view {
        display: block;
    }

    .desktop_view {
        display: none;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {

    .mb_view {
        display: block;
    }

    .desktop_view {
        display: none;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    ...
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    ...
}

.text-white {
    border-bottom: 4px solid #fff !important;
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px
}

    select.list-dt:focus {
        border-bottom: 2px solid skyblue
    }

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
    margin-left: 150px;
}

    #progressbar .active {
        color: #000000
    }

    #progressbar li {
        list-style-type: none;
        font-size: 12px;
        width: 25%;
        float: left;
        position: relative
    }

    #progressbar #account:before {
        font-family: FontAwesome;
        content: "\f023"
    }

    #progressbar #personal:before {
        font-family: FontAwesome;
        content: "\f007"
    }

    #progressbar #payment:before {
        font-family: FontAwesome;
        content: "\f09d"
    }

    #progressbar #confirm:before {
        font-family: FontAwesome;
        content: "\f00c"
    }

    #progressbar li:before {
        width: 25px;
        height: 25px;
        line-height: 45px;
        display: block;
        font-size: 18px;
        color: #ffffff;
        background: lightgray;
        border-radius: 50%;
        margin: 0 auto 10px auto;
        padding: 2px
    }

    #progressbar li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: lightgray;
        position: absolute;
        left: 0;
        top: 12px;
        z-index: -1
    }

    #progressbar li.active:before,
    #progressbar li.active:after {
        background: #3221ec;
    }

.radio-group {
    position: relative;
    margin-bottom: 25px
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px
}

    .radio:hover {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
    }

    .radio.selected {
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
    }

.fit-image {
    width: 100%;
    object-fit: cover
}


/*Profile Pic Start*/
.picture-container {
    position: relative;
    cursor: pointer;
}

.picture {
    width: 150px;
    height: 150px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

    .picture:hover {
        border-color: #2ca8ff;
    }

.content.ct-wizard-green .picture:hover {
    border-color: #05ae0e;
}

.content.ct-wizard-blue .picture:hover {
    border-color: #3472f7;
}

.content.ct-wizard-orange .picture:hover {
    border-color: #ff9500;
}

.content.ct-wizard-red .picture:hover {
    border-color: #ff3b30;
}

.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src {
    width: 100%;
}

.li-black > li {
    color: black !important;
}

.assign_leaves {
    position: absolute;
    z-index: 1111;
    left: 154px;
    top: 34px;
}

.alert {
    padding: 3px;
    margin-bottom: 0rem;
    border: 1px solid transparent;
    border-radius: 2px;
}

.alert-dismissible .close {
    position: absolute;
    top: -10px;
    right: -13px;
    padding: .75rem 1.25rem;
    color: inherit;
}

.leave_logs {
    border: none;
    cursor: pointer;
}

    .activee, .leave_logs:hover {
        border-left: 6px solid;
        border-color: #2a69b2;
    }

.title-head-payroll {
    display: flex;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-weight: 500;
}

.red {
    color: red;
}

.green {
    color: green;
}

.grey {
    color: #dad8d8;
}
/*Profile Pic End*/
/*responsive media queries*/

.custom_icon {
    margin-top: -7px !important;
    margin-right: 6px !important;
}

.no-border-radius {
    border-radius: 0px !important;
    margin-bottom: 15px;
}

/*.disabled{
    pointer-events: none;
    background: #757575;
}*/

.btn-g {
    width: 100%;
    background: green;
    pointer-events: none;
}

.btn-o {
    width: 100%;
    background: orange;
    pointer-events: none;
}

.btn-r {
    background: red;
}

#blah {
    width: 50px;
    height: 50px;
    display: none;
}

.tttt {
    max-width: 1250px !important;
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    ...
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    ...
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    ...
}
