@model YB_StaffingSupervisor.DataAccess.Entities.Custom.TeamAttendanceCustom
@{
    ViewData["Title"] = "Team Attendance";
    Layout = "~/Views/Shared/_ProantoV2MasterLayout.cshtml";
}

<style type="text/css">
    .calendar-wrapper[data-theme='blue'] .calendar-head-card {
        background-color: #1565c0;
        display: none;
    }

    .form-check-label {
        margin-bottom: 0;
        width: 100%;
    }

    /*.pb-calendar .schedule-dot-item.blue{
                background-color: blue;
                }*/

    .pb-calendar .schedule-dot-item.red {
        background-color: #c53131;
    }

    .pb-calendar .schedule-dot-item.redh {
        border: 2px solid #c53131;
    }

    .pb-calendar .schedule-dot-item.redb {
        background-color: #2A69B2;
    }

    .bs-example {
        margin: 200px 150px 0;
    }

    .popover-title .close {
        position: relative;
        bottom: 3px;
    }

    .less-padding td,
    .less-padding th {
        padding: 1.3px;
    }

    /*.pb-calendar .schedule-dot-item.green{
                background-color: green;
                }*/

    .green-status {
        color: green;
        display: inline-block;
        width: 100px;
        height: 26px;
        text-align: center;
        line-height: 2.3;
    }

    .pending-status {
        color: orange;
        display: inline-block;
        width: 100px;
        height: 26px;
        text-align: center;
        line-height: 2.3;
        color: #e8aa00;
    }

    .error-status {
        color: red;
        display: inline-block;
        width: 100px;
        height: 26px;
        text-align: center;
        line-height: 2.3;
    }

    .verif-status-Cleared {
        background: #c8ffc4;
        color: #00924c;
        padding: 5px 14px;
        font-weight: 400;
        width: 93px;
        display: inline-block;
    }

    .verif-status-pending {
        background: #fff9c3;
        color: #cbb147;
        padding: 5px 14px;
        font-weight: 400;
        width: 93px;
        display: inline-block;
    }

    .verif-status-insuf {
        background: #e9f7ff;
        color: #006bb2;
        padding: 5px 14px;
        font-weight: 400;
        width: 93px;
        display: inline-block;
    }

    .verif-status-not-cleared {
        background: #fff2e5;
        color: #fe3d28;
        padding: 5px 14px;
        font-weight: 400;
        width: 93px;
        display: inline-block;
    }

    .announcment-icon {
        background: #f5f5f5;
        color: #2f4260;
        width: 60px;
        height: 60px;
        text-align: center;
        font-size: 31px;
        border-radius: 50%;
        line-height: 1.9;
        margin-right: 10px;
    }

    .todayDate {
        color: #274360;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
    }

        .todayDate small {
            font-size: 11px;
            font-weight: 100;
        }

    .total-workforce-count {
        font-size: 18px;
        font-weight: 600;
        color: #346AB2;
    }

    .total-present-workforce .total-workforce-count {
        font-size: 18px;
        font-weight: 600;
        color: #5DC085;
    }

    .total-absent-workforce .total-workforce-count {
        font-size: 18px;
        font-weight: 600;
        color: red;
    }

    .total-workforce-icon {
        color: #346AB2;
        width: 30px;
        height: 30px;
        background: #f3faff;
        text-align: center;
        border-radius: 50%;
        line-height: 2.2;
    }

    .total-present-workforce .total-workforce-icon {
        color: #5DC085;
        background: #E2FEEB;
    }

    .total-absent-workforce .total-workforce-icon {
        color: red;
        background: #fff2f2;
    }

    .shift-hour-progress {
        background-color: #ff3b6f !important;
    }

    .extra-hour-progress {
        background-color: #00cfc3 !important;
    }

    .ruler-line {
        height: 10px;
        border-right: 1px solid;
    }

    .ruler-guide {
        position: absolute;
        width: 100%;
        top: 10px;
    }

    .bg-soft-success {
        background-color: rgba(0, 201, 167, .1) !important;
    }

    .bg-soft-danger {
        background-color: rgba(237, 76, 120, .1) !important;
    }

    .form-check-input {
        position: unset;
        margin: unset;
    }

    .text-success {
        color: green !important;
    }
</style>

<div class="page-breadcrumb">
    <div class="row mb-2">
        <div class="col-7 align-self-center">
            <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Attendance</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item">
                            <a class="text-muted">
                                <b>Team Attendance</b>
                            </a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="padding-bottom: 740px; background: #F8F8F8; padding: 22px;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="teamattendance-tab" href="#">Team Attendance</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="teamattendance" role="tabpanel"
                         aria-labelledby="teamattendance-tab">

                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <h4 class="font-weight-medium mb-0">All Associates</h4>
                            <button class="btn btn-sm" title="Filter" data-toggle="collapse"
                                    data-target="#filter">
                                <i class="fa fa-filter"
                                   aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="collapse mt-3" id="filter">
                            <div class="card mb-3">

                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <div class="font-weight-medium">Filters</div>
                                    <div><i class="fa fa-filter"></i></div>
                                </div>
                                <div class="card-body">
                                    <div class="row">

                                        <div class="col-md-3 col-lg-3 mt-2">
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1" class="active">
                                                    <b>
                                                        Yoma
                                                        ID
                                                    </b>
                                                </label>
                                                <input type="text"
                                                       class="form-control form-control-sm border-bottom"
                                                       id="exampleFormControlInput1"
                                                       placeholder="Enter Id no.">
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-lg-3 mt-2">
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1"
                                                       class="active"><b>Associate Name</b></label>
                                                <input type="text"
                                                       class="form-control form-control-sm border-bottom"
                                                       id="exampleFormControlInput1"
                                                       placeholder="Enter Associate Name">
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-lg-3 mt-2">
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1"
                                                       class="active"><b>Associate Email</b></label>
                                                <input type="text"
                                                       class="form-control form-control-sm border-bottom"
                                                       id="exampleFormControlInput1"
                                                       placeholder="Enter Associate Email">
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-lg-3 mt-2">
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1"
                                                       class="active"><b>Associate Mobile</b></label>
                                                <input type="text"
                                                       class="form-control form-control-sm border-bottom"
                                                       id="exampleFormControlInput1"
                                                       placeholder="Enter Associate Mobile">
                                            </div>
                                        </div>



                                        <div class="col-md-3 col-lg-3 mt-2">
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1"
                                                       class="active"><b>Date</b></label>
                                                <input type="text"
                                                       class="form-control form-control-sm border-bottom"
                                                       id="mdate" placeholder="dd-mm-yyyy">
                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-sm mr-1">Close</button>
                                        <button class="btn btn-sm mr-1">Clear</button>
                                        <button class="btn btn-sm">Search</button>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="row mb-4 todays-insights align-items-center">
                            <div class="col-12 col-sm-12 col-md-12 col-xl-3 col-lg-3">
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="announcment-icon">
                                        <i class="fa fa-bullhorn"
                                           aria-hidden="true"></i>
                                    </div>
                                    <div class="todayDate">
                                        <p class="mb-0 todayDate">Today, 15 June 2023</p>
                                        <small>
                                            Today's attendance only. <i class="fa fa-external-link"
                                                                        aria-hidden="true"></i>
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-xl-9 col-lg-9 mt-3">
                                <div class="row insigths-cards">
                                    <div class="col-md-4">
                                        <div class="card total-workforce card-body">
                                            <div>Total Associates</div>
                                            <div class="d-flex justify-content-between align-items-center mt-1">
                                                <div class="total-workforce-count">5000</div>
                                                <div class="total-workforce-icon">
                                                    <i class="fa fa-users"
                                                       aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="card total-present-workforce card-body">
                                            <div>Total Present</div>
                                            <div class="d-flex justify-content-between align-items-center mt-1">
                                                <div class="total-workforce-count">4200</div>
                                                <div class="total-workforce-icon">
                                                    <i class="fa fa-arrow-circle-down" aria-hidden="true"
                                                       style="transform: rotate(45deg);"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="card total-absent-workforce card-body">
                                            <div>Total Absent</div>
                                            <div class="d-flex justify-content-between align-items-center mt-1">
                                                <div class="total-workforce-count">800</div>
                                                <div class="total-workforce-icon">
                                                    <i class="fa fa-arrow-circle-down" aria-hidden="true"
                                                       style="transform: rotate(-45deg);"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <ul class="nav nav-tabs mb-3" id="myTab2" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="quickttendance-tab" data-toggle="tab"
                                   href="#quickattendance" role="tab" aria-controls="quickattendance"
                                   aria-selected="false">Quick Attendance</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="selfiettendance-tab" data-toggle="tab"
                                   href="#selfieattendance" role="tab" aria-controls="selfieattendance"
                                   aria-selected="false">Selfie based Attendance</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="quickattendance" role="tabpanel"
                                 aria-labelledby="quickattendance-tab">
                                <div class="table-responsive">
                                    <table class="table table-sm no-wrap font-12 v-middle">
                                        <thead id="sumit" class="text-center">
                                            <tr>
                                                <th scope="col">
                                                    <div>Yoma Id</div>
                                                </th>

                                                <th scope="col">
                                                    <div>Associate Name</div>
                                                </th>



                                                <th scope="col">
                                                    <div>Email</div>
                                                </th>

                                                <th scope="col">
                                                    <div>Mobile No.</div>
                                                </th>

                                                <th scope="col">
                                                    <div>Check-In</div>
                                                </th>

                                                <th scope="col">
                                                    <div>Check-Out</div>
                                                </th>

                                                <th scope="col">
                                                    <div>Working Hours</div>
                                                </th>

                                                <th scope="col">
                                                    <div>Arrival</div>
                                                </th>


                                                <th scope="col">
                                                    <div>View Attendance Log</div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center">
                                            <tr>
                                                <td>YM4589689</td>
                                                <td class="text-dark">
                                                    <span class="mb-0 ms-2">Akshay Aggarwal</span>
                                                </td>
                                                <td>akshay.90@gmail.com</td>
                                                <td>+91 9856231476</td>

                                                <td>09:45 AM</td>
                                                <td>07:12 PM</td>
                                                <td>
                                                    8 hours <br><span class="extra-working-time text-success fs-12">
                                                        +2:00 hrs
                                                        extra
                                                    </span>
                                                </td>
                                                <td><span class="green-status font-12">On-Time</span></td>
                                                <td>
                                                    <a href="./attendance-report-log.html" class="btn btn-sm"
                                                       role="button">
                                                        View Log
                                                    </a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>YM4589689</td>
                                                <td class="text-dark">
                                                    <span class="mb-0 ms-2">Ramesh Singh</span>
                                                </td>
                                                <td>singh.90@gmail.com</td>
                                                <td>+91 9856231476</td>

                                                <td>09:45 AM</td>
                                                <td>07:12 PM</td>
                                                <td>
                                                    8 hours <br><span class="extra-working-time text-success fs-12">
                                                        +2:00 hrs
                                                        extra
                                                    </span>
                                                </td>
                                                <td><span class="green-status font-12">On-Time</span></td>
                                                <td>
                                                    <a href="./attendance-report-log.html" class="btn btn-sm"
                                                       role="button">
                                                        View Log
                                                    </a>
                                                </td>
                                            </tr>



                                        </tbody>
                                    </table>
                                </div>

                            </div>

                            <div class="tab-pane fade" id="selfieattendance" role="tabpanel"
                                 aria-labelledby="selfieattendance-tab">
                                <div class="table-responsive">
                                    <table class="table participant-table table-sm no-wrap font-12 v-middle">
                                        <thead id="sumit" class="text-center">
                                            <tr>

                                                <th>Yoma Id</th>
                                                <th scope="col">
                                                    <div>Associate Name</div>
                                                </th>



                                                <th scope="col">
                                                    <div>Email</div>
                                                </th>

                                                <th scope="col">
                                                    <div>Mobile No.</div>
                                                </th>

                                                <th scope="col">
                                                    <div> In (image)</div>
                                                </th>

                                                <th scope="col">
                                                    <div>Out (image)</div>
                                                </th>

                                                <th>
                                                    In(LAT/LONG)
                                                </th>

                                                <th>
                                                    Out(LAT/LONG)
                                                </th>


                                                <th scope="col">
                                                    <div>Check-In</div>
                                                </th>

                                                <th scope="col">
                                                    <div>Check-Out</div>
                                                </th>

                                                <th scope="col">
                                                    <div>Working Hours</div>
                                                </th>

                                                <th scope="col">
                                                    <div>Arrival</div>
                                                </th>


                                                <th scope="col">
                                                    <div>View Attendance Log</div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center">
                                            <tr>
                                                <td>YM004589689</td>
                                                <td class="text-dark">
                                                    <span class="mb-0 ms-2">Akshay Aggarwal</span>
                                                </td>
                                                <td>akshay.90@gmail.com</td>
                                                <td>+91 9856231476</td>
                                                <td class="">
                                                    <div style="width:60px; height:60px">
                                                        <img class="img-fluid"
                                                             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCjECcSdecnMTM7RkIK8MCyLjitm8TLzRFKV4h8IOgYhMBWpY2HnBL0TnAZ2PEjMGS_YM&usqp=CAU"
                                                             alt=""><br>
                                                    </div>

                                                </td>
                                                <td>
                                                    <div style="width:60px; height:60px">
                                                        <img class="img-fluid"
                                                             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCjECcSdecnMTM7RkIK8MCyLjitm8TLzRFKV4h8IOgYhMBWpY2HnBL0TnAZ2PEjMGS_YM&usqp=CAU"
                                                             alt="">
                                                    </div>
                                                </td>
                                                <td>(40.7128, -74.0060)</td>
                                                <td>(40.7128, -74.0060)</td>

                                                <td>09:45 AM</td>
                                                <td>07:12 PM</td>
                                                <td>
                                                    8 hours <br><span class="extra-working-time text-success fs-12">
                                                        +2:00 hrs
                                                        extra
                                                    </span>
                                                </td>
                                                <td><span class="green-status font-12">On-Time</span></td>
                                                <td>
                                                    <a href="./attendance-report-log.html" class="btn btn-sm"
                                                       role="button">
                                                        View Log
                                                    </a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>YM4589689</td>
                                                <td class="text-dark">
                                                    <span class="mb-0 ms-2">Ramesh Singh</span>
                                                </td>
                                                <td>singh.90@gmail.com</td>
                                                <td>+91 9856231476</td>
                                                <td class="">
                                                    <div style="width:60px; height:60px">
                                                        <img class="img-fluid"
                                                             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCjECcSdecnMTM7RkIK8MCyLjitm8TLzRFKV4h8IOgYhMBWpY2HnBL0TnAZ2PEjMGS_YM&usqp=CAU"
                                                             alt="">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div style="width:60px; height:60px">
                                                        <img class="img-fluid"
                                                             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCjECcSdecnMTM7RkIK8MCyLjitm8TLzRFKV4h8IOgYhMBWpY2HnBL0TnAZ2PEjMGS_YM&usqp=CAU"
                                                             alt="">
                                                    </div>
                                                </td>
                                                <td>(40.7128, -74.0060)</td>
                                                <td>(40.7128, -74.0060)</td>
                                                <td>09:45 AM</td>
                                                <td>07:12 PM</td>
                                                <td>
                                                    8 hours <br><span class="extra-working-time text-success fs-12">
                                                        +2:00 hrs
                                                        extra
                                                    </span>
                                                </td>
                                                <td><span class="pending-status font-12">Late</span></td>
                                                <td>
                                                    <a href="./attendance-report-log.html" class="btn btn-sm"
                                                       role="button">
                                                        View Log
                                                    </a>
                                                </td>
                                            </tr>



                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            toastr.success('Team Attendance');

           
        });

    </script>
    <script src="~/js/Areas/Attendance/TeamAttendance.js" asp-append-version="true"></script>
}