@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Proanto Permission Denied</title>
</head>
<body style="text-align: center;">
    <div style="text-align: center; margin-top: 100px; border:solid 2px grey; border-radius:15px; width:40%;display: inline-block ">
        <h2 style="color: white;background-color:red">Access Denied</h2>
        <hr /><br />
         <h3 style="color:#0678f4;">Access to requested page has been denied. </h3>
        <h4  style="color: #e87010;">Please contact the administrator,if you think there has been error. </h4>
    </div>
</body>
</html>
